
<div class="container" style="padding-top: 20Px;border-bottom: 1px solid black;">
  <div class="row" *ngFor="let oglas of oglasiUsera"
       style="background-color: white; padding-top: 20px; margin-top: 10px;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;"
  >
    <div class="col-lg-3 col-md-3 col-sm-12" style="height: 150px;">
      <div class="row">
      <span class="pull-left" style="position: absolute; left: 0px;">
        <img
          [src]="oglas.imagePath"
          alt="slika" class="img-responsive" style="max-height: 150px;">
      </span>
      </div>
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12" style="height:100px;">
      <p>{{oglas.opis}}</p>
    </div>
    <div>
      <button mat-raised-button color="warn" (click)="deleteOglas(oglas.oglasId)" type="submit">Obriši oglas</button>
    </div>
  </div>
</div>

