<div class="">
<nav class="navbar navbar-inverse" >
  <div class="container-fluid" >
    <div class="navbar-header" ž>
      <a  class="navbar-brand" routerLink="/">Završni rad</a>
    </div>
    <ul class="nav navbar-nav" >
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a  routerLink="/">Početna</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/kategorije">Kategorije</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/unosOglasa" *ngIf="isLoggedIn">Kreiraj oglas</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/login" *ngIf="!isLoggedIn">Prijavite se</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/registracija" *ngIf="!isLoggedIn">Registracija</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/mojiOglasi" *ngIf="isLoggedIn">Moji oglasi</a></li>
      <li><a *ngIf="isLoggedIn" routerLink="#" (click)="logoutUser()">Odjava</a></li>
    </ul>

  </div>
</nav>
</div>
