<div class="container" style="padding-top: 20Px;border-bottom: 1px solid black;">
  <div id="rowid" class="row" *ngFor="let oglas of sviOglasi"
       style="padding-top: 20px; margin-top: 10px;
      "
  >
    <div  class="col-lg-3 col-md-3 col-sm-12">
      <div class="row" id="slika">
        <span class="pull-left" style="position: absolute; left: 0px;">
          <a [routerLink]="[oglas.oglasId]">
          <img
            [src]="oglas.imagePath"
            alt="omg" class="img-responsive" >
          </a>
        </span>
      </div>
      </div>
      <div id="opis" class="col-lg-9 col-md-12 col-sm-12" >
        <a [routerLink]="[oglas.oglasId]" style="color: #1787ae">
          <h2 style="position:center;"> {{oglas.naslov}}</h2>
        </a>

        <p>{{oglas.opis}}</p>
        <p>Prodavač: {{oglas.imeProdavaca}}</p>
        <p>Telefon: {{oglas.telefon}}</p>
        <p>Lokacija: {{oglas.lokacija}}</p>
      </div>

  </div>
</div>

